.popular__container {
  padding-top: 1.5rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem !important;
}
.popular__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.popular__img {
  transition: transform .4s;
}
.popular__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsl(0, 0%, 0%) 125%
  );
}
.popular__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.popular__location {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: var(--small-font-size);
  font-family: var(--second-font);
  font-weight: 500;
}
.popular__location i{
  font-size: 1rem;
}
.popular__image:hover .popular__img {
  transform: scale(1.2);
}